{% load static %}
<script src="{% static 'js/jquery-3.7.1.min.js' %}" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.pagepiling.min.js' %}"></script>
<script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>


