{% load render_partial %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_description %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% include 'shared/header_references.html' %}
</head>
<body>
{% render_partial 'home_module.views.site_header_component' %}
{% render_partial 'home_module.views.site_menu_navigation_component' %}
{% block content %}{% endblock %}
{% include 'shared/footer_references.html' %}
{% block footer_references %}{% endblock %}
</body>
</html>