<div id="pre-loader">
    <div id="loading"></div>
</div>
<header id="header-mob" class="d-xl-none">
    <div class="container-fluid">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="name-header-mob-right">
                        <p>علیرضا بابایی</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="navbar-toggler-box text-left">
                        <div class="navbar-toggler">
                            <button id="nav-btn">
                                <i class="bi bi-list" id="nav-ico"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>