{% load thumbnail %}

<aside id="navbar-desktop">
    <div class="custom-scrollbar-container ps">
        <div class="content">
            <div id="nav-top-container">
                <div id="geo-shape-one"></div>
                <div id="geo-shape-two"></div>
                <div id="img-profile">

                    {% thumbnail profile.img_profile "200x200" crop="center" quality=100 as im %}
                        <img src="{{ im.url }}"
                             alt="alireza babaei">
                    {% endthumbnail %}

                </div>
                <div id="name-navbar" class="text-center mt-5">
                    <h2>
                        {{ profile.full_name }}
                    </h2>
                </div>
            </div>
            <nav id="nav">
                <div>
                    <ul id="nav-list">
                        <li data-menuanchor="home" class="active">
                            <a href="#home">
                                <i class="bi bi-house-door"></i>
                                خانه
                            </a>
                        </li>
                        <li data-menuanchor="about">
                            <a href="#about">
                                <i class="bi bi-person-vcard"></i>
                                درباره من
                            </a>
                        </li>
                        <li data-menuanchor="work">
                            <a href="#work">
                                <i class="bi bi-journals"></i>
                                نمونه کارها
                            </a>
                        </li>
                        <li data-menuanchor="certificates">
                            <a href="#certificates">
                                <i class="bi bi-globe"></i>
                                مدارک
                            </a>
                        </li>
                        <li data-menuanchor="contactus">
                            <a href="#contactus">
                                <i class="bi bi-chat-text"></i>
                                تماس با من
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="box">
        <div id="social-media-box" class="d-flex justify-content-evenly align-items-center">
            <a href="{{ profile.github }}" title="گیت هاب من" target="_blank">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://www.instagram.com/{{ profile.instagram }}" title="اینستاگرام من" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://t.me/{{ profile.telegram }}" title="تلگرام من" target="_blank">
                <i class="bi bi-telegram"></i>
            </a>
            <a href="https://wa.me/{{ profile.whatsapp }}" title="واتس آپ من" target="_blank">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
    </div>
</aside>